{% extends 'base.html' %}
{% load static %}

{% block meta %}

{% endblock meta %}

{% block content %}
<body>
    <div class="container">
        <h1> WishList </h1>
        <form method="POST" class="post-form" action="">
            {% csrf_token %}
            <label for="ProductName">Nama Produk:</label><br>
            <input type="text">{{form.namaproduk}}<br>
            <label for="Price">Perkiraan Harga</label><br>
            <input type="text" >{{form.hargaproduk}}<br><br>
            <input type="submit" value="Submit">
          </form> 
    </div>
    


    <h2>Daftar Kebutuhan:</h2>
        <table id="Produk">
        <tr>
          <th>Nama Produk</th>
          <th>Perkiraan Harga</th>
        </tr>
        {% for i in wishlist %}
        <tr>
            <td>{{i.namaproduk}}</td>
            <td>{{i.hargaproduk}}</td>
        </tr>
        </table>
        {% endfor %}
</body>
    

{% endblock content %}

